@import "../../../node_modules/css-reset-and-normalize/scss/reset-and-normalize.scss";

body {
  h1 {
    text-align: center;
    font-size: 24px;
  }
}

.step2,
.step3 {
  opacity: 0;
  display: none;
}

.fadeOut {
  animation: fadeOut 0.3s;
  opacity: 0;
  display: none;
}

.fadeIn {
  animation: fadeIn 0.3s;
  opacity: 1;
  display: block;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
